body 
{
color:white; 
background-color:lightblue; 
}

.heading 
{
    font-size: 22px;
    width: 80%;
}

.name_of_objects, #result_object_name, #result_object_accuracy
{
    color: midnightblue;
}

#camera
{
    border:2px dashed blueviolet;
    width:350px;
    height:300px;
}

